
.swiper-button-next {
  opacity: 0.7;
  color:white!important;
  display: block!important;
  
}

.swiper-button-prev {
  opacity: 0.6;
  color:white!important;
}
.swiper-pagination-bullet-active {
  display: none;
}
.swiper-pagination-bullet {
  display: none;
}

.swiper-pagination-clickable {
  display: block;

  margin-top: 2rem !important;
}